/*filters styles*/
.filters {
    background-color: #fff;
    height: 70px;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

/*search button styles*/
.filters button {
    background-color: #FF5A5F;
    font-size: 18px;
    color: #FFFFFF;
    height: 48px;
    border-radius: 4px;
    width: 20%;
    border: none;
    margin-right: 30px;
}

/* Hover styles for the button */
button:hover {
    opacity: 90%;
    cursor: pointer;
}

/*Styling locations and amenities*/
.locations,
.amenities {
    height: 100;
    width:25%;
    box-sizing:border-box;
    border-right: 1px solid #DDDDDD;
    color: black;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 10px;
}

.locations:hover,
.amenities:hover {
    background-color: #fafafa;
}

.locations .popover,
.amenities .popover {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    width: calc(100% - 22px);
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    list-style-type: none;
    padding: 10px;
    left: 0;
    top: calc(100% + 10px);
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.popover h2 {
    font-size: 16px;
    font-weight: 600;
}

.popover > ul > li > ul {
    margin: 10px 0 10px 20px;
}
